.minipics {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding-top: 1rem;
	justify-content: center;
	flex-direction: row;
}

footer h1 {
	font-family: "conega";
	font-size: 21vw;
	margin-bottom: 1rem;
	text-align: center;
	width: 100%;
}

.minipics a {
	position: relative;
	display: block;
	width: 32.58vh;
	height: 10.417vw;
	overflow: hidden;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	justify-content: center;
}

.minipics a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	filter: brightness(60%);
}

.minipics a p {
	position: relative;
	color: white;
	font-family: "renade";
	font-size: 1rem;
	z-index: 1;
}
.minipics footer h1 {
	font-family: "conega";
	font-size: 23vw;
	text-align: center;
}

footer {
	background-color: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4rem 2rem;
}

hr {
	width: 99%;
	border: none;
	border-top: 1px solid #ffffff;
	margin: 2rem 0;
}

.foottext {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-family: "renade";
	font-size: 1.5rem;
	flex-direction: row;
}

.foottext a {
	text-decoration: none;
	color: white;
}

.foottext div {
	display: flex;
	gap: 1rem;
}
