header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0;
	padding: 1rem 2rem;
	color: white;
	backdrop-filter: blur(3.2px);
}

header .menu {
	display: flex;
	gap: 2rem;
	align-items: center;
}

header h1 {
	font-family: "conega";
}

header a {
	text-decoration: none;
	font-family: "renade";
	color: white;
}

header button {
	background: none;
	border: none;
	cursor: pointer;
}

.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 10000;
	top: 0;
	left: -250px;
	background-color: #bebbbb;
	overflow-x: hidden;
	transition: left 0.5s ease;
	padding-top: 60px;
}
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sidenav.active {
	left: 0;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.burger-icon span {
	display: block;
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin-bottom: 5px 0;
}
