header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0;
	padding: 1rem 2rem;
	color: white;
	backdrop-filter: blur(3.2px);
}

header .menu {
	display: flex;
	gap: 2rem;
	align-items: center;
}

header h1 {
	font-family: "conega";
}

header a {
	text-decoration: none;
	font-family: "renade";
	color: white;
}

header button {
	background: none;
	border: none;
	cursor: pointer;
}

aside {
	position: fixed;
	top: 0;
	left: 0;
	width: 27%;
	background: rgb(255, 255, 255);
	height: 100%;
	z-index: 10000;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: rgb(0, 0, 0);
	backdrop-filter: blur(3.2px);
	transform: translateX(-100%);
	transition: all 0.3s ease-in-out;
}

aside.active {
	transform: translateX(0);
}

aside .entete {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

aside .entete button {
	background: none;
	border: none;
	cursor: pointer;
}

nav {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

nav ul {
	display: flex;
	flex-direction: column;
	gap: 1.375rem;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-family: "renade";
	font-size: 3rem;
}

nav ul li a:hover {
	text-decoration: underline;
}

aside .montain p {
	font-family: "renade";
	font-size: 1.3rem;
	width: 100%;
	color: rgb(0, 0, 0);
}

aside h1 {
	font-family: "conega";
	font-size: 3rem;
	color: rgb(0, 0, 0);
}

aside .montain {
	display: flex;
	justify-content: end;
	align-items: start;
	flex-direction: column;
	gap: 1rem;
	height: fit-content;
	overflow: hidden;
}

aside .imgContainer {
	width: 100%;
	height: 60%;
	overflow: hidden;
}

aside .imgContainer img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
