header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0;
	padding: 1rem 2rem;
	color: white;
	backdrop-filter: blur(3.2px);
}

header .menu {
	display: flex;
	gap: 2rem;
	align-items: center;
}

header h1 {
	font-family: "conega";
}

header a {
	text-decoration: none;
	font-family: "renade";
	color: white;
}

header button {
	background: none;
	border: none;
	cursor: pointer;
}
