section {
	width: 100%;
	height: 100vh;
	position: relative;
}

.hero {
	overflow: hidden;
}

.hero .videoHero {
	position: absolute;
	top: -10%;
	left: 0;
	width: 100%;
	height: 110%;
	object-fit: cover;
}

.content {
	justify-content: center;
	align-items: center;
	text-align: center;
}
.content1 {
	margin: 0 auto 2rem;
}
