.bigcard {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

.bigcard div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 100%;
	height: 100%;
	position: relative;
}

.bigcard div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	filter: brightness(40%);
	transition: filter 0.3s ease-in-out;
}

.bigcard div h2 {
	font-family: "renade";
	font-size: 2.5rem;
	text-align: center;
	color: #fff;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.bigcard div button {
	font-family: "renade";
	font-size: 1.5rem;
	background: none;
	border: none;
	cursor: pointer;
	color: #000000;
	background-color: #fff;
	border-radius: 15px;
	width: 18.438rem;
	height: 2.75rem;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.bigcard div:hover h2,
.bigcard div:hover button {
	opacity: 1;
}

.bigcard div:hover img {
	filter: brightness(100%);
}
